body{
	margin: 0;
	font-family: "Lucida Grande";
}

a{
	text-decoration: 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

header{
	height: 65px;
	width: 100%;
	background-color: rgba(0, 101, 120, 0.8);
	position: fixed;
	top: 0;
	z-index: 10;
}

.logo {
  	width: 124px;
  	margin-top: 20px;
}

.header-left{
	float: left;
}

.header-left h2{
	font-family: "Calibri";
	color: white;
	}

.header-right{
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
  	transition: all 0.5s;
}

.header-right a{
	line-height: 65px;
	padding: 0 25px;
	color: white;
	display: block;
}

.top-wrapper{
	text-align: center;
	padding-top: 70px;
}

.top-wrapper span{
	color: red;
}
